root = true

[*.{ttsql,sql,tsx,json,xml}]
end_of_line   = crlf
charset       = utf-8
indent_style  = space
indent_size   = 4
trim_trailing_whitespace = true

[*.cs]
end_of_line   = crlf
charset       = utf-8-bom
indent_style  = space
indent_size   = 4
trim_trailing_whitespace = true

[*.cs]
# IDE0130 Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none

# IDE1006:Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# CA1002: Do not expose generic lists
dotnet_diagnostic.CA1002.severity = none

# CA1008: Enums should have zero value
dotnet_diagnostic.CA1008.severity = none

# CA1012: Abstract types should not have public constructors
dotnet_diagnostic.CA1012.severity = none

# CA1024: Use properties where appropriate
dotnet_diagnostic.CA1024.severity = none

# CA1028: Enum storage should be Int32
dotnet_diagnostic.CA1028.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA1032: Implement standard exception constructors
dotnet_diagnostic.CA1032.severity = none

# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = none

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA1069: Enums should not have duplicate values
dotnet_diagnostic.CA1069.severity = none

# CA1308: Normalize strings to uppercase
dotnet_diagnostic.CA1308.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA1711: Identifiers should not have incorrect suffix
dotnet_diagnostic.CA1711.severity = none

# CA1716: Identifiers should not match keywords
dotnet_diagnostic.CA1716.severity = none

# CA1720: Identifiers should not contain type names
dotnet_diagnostic.CA1720.severity = none

# CA1725: Parameter names should match base declaration
dotnet_diagnostic.CA1725.severity = none

# CA2007: Do not directly await a Task
dotnet_diagnostic.CA2007.severity = none

# CA2217: Do not mark enums with FlagsAttribute
dotnet_diagnostic.CA2217.severity = none


### TODO
# IDE0016: Use throw expression 
dotnet_diagnostic.IDE0016.severity = none

# IDE0017: Use object initializers
dotnet_diagnostic.IDE0017.severity = none

# IDE0029: Null check can be simplified
dotnet_diagnostic.IDE0029.severity = none

# IDE0059: Remove unnecessary value assignment
dotnet_diagnostic.IDE0059.severity = none

# IDE0060: Remove unused parameter
dotnet_diagnostic.IDE0060.severity = none

# IDE0028: Use collection initializers or expressions
dotnet_diagnostic.IDE0028.severity = none

# IDE0031: Use null propagation
dotnet_diagnostic.IDE0031.severity = none

# IDE0038: Use pattern matching to avoid 'is' check followed by a cast
dotnet_diagnostic.IDE0038.severity = none

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = none

# IDE0075: Simplify conditional expression
dotnet_diagnostic.IDE0075.severity = none

# IDE0180: Use tuple to swap values
dotnet_diagnostic.IDE0180.severity = none

# IDE0220: Add explicit cast in foreach loop
dotnet_diagnostic.IDE0220.severity = none

# IDE0270: Null check can be simplified
dotnet_diagnostic.IDE0270.severity = none

# IDE0350: Use implicitly typed lambda
dotnet_diagnostic.IDE0350.severity = none

# IDE1005: Use conditional delegate call
dotnet_diagnostic.IDE1005.severity = none

# CA1027: Mark enums with FlagsAttribute
dotnet_diagnostic.CA1027.severity = none

# CA1033: Interface methods should be callable by child types
dotnet_diagnostic.CA1033.severity = none

# CA1065: Do not raise exceptions in unexpected locations
dotnet_diagnostic.CA1065.severity = none

# CA1068: CancellationToken parameters must come last
dotnet_diagnostic.CA1068.severity = none

# CA1304: Specify CultureInfo
dotnet_diagnostic.CA1304.severity = none

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA1309: Use ordinal StringComparison
dotnet_diagnostic.CA1309.severity = none

# CA1310: Specify StringComparison for correctness
dotnet_diagnostic.CA1310.severity = none

# CA1311: Specify a culture or use an invariant version
dotnet_diagnostic.CA1311.severity = none

# CA1508: Avoid dead conditional code
dotnet_diagnostic.CA1508.severity = none

# CA1708: Identifiers should differ by more than case
dotnet_diagnostic.CA1708.severity = none

# CA1710: Identifiers should have correct suffix
dotnet_diagnostic.CA1710.severity = none

# CA1721: Property names should not match get methods
dotnet_diagnostic.CA1721.severity = none

# CA1724: Type names should not match namespaces
dotnet_diagnostic.CA1724.severity = none

# CA1812: Avoid uninstantiated internal classes
dotnet_diagnostic.CA1812.severity = none

# CA1813: Avoid unsealed attributes
dotnet_diagnostic.CA1813.severity = none

# CA1815: Override equals and operator equals on value types
dotnet_diagnostic.CA1815.severity = none

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# CA1825: Avoid zero-length array allocations
dotnet_diagnostic.CA1825.severity = none

# CA1834: Use StringBuilder.Append(char) for single character strings
dotnet_diagnostic.CA1834.severity = none

# CA1852: Seal internal types
dotnet_diagnostic.CA1852.severity = none

# CA1859: Use concrete types when possible for improved performance
dotnet_diagnostic.CA1859.severity = none

# CA1861: Avoid constant arrays as arguments
dotnet_diagnostic.CA1861.severity = none

# CA1862: Use the 'StringComparison' method overloads to perform case-insensitive string comparisons
dotnet_diagnostic.CA1862.severity = none

# CA1868: Unnecessary call to 'Contains' for sets
dotnet_diagnostic.CA1868.severity = none

# CA2016: Forward the CancellationToken parameter to methods that take one
dotnet_diagnostic.CA2016.severity = none

# CA2100: Review SQL queries for security vulnerabilities
dotnet_diagnostic.CA2100.severity = none

# CA2201: Do not raise reserved exception types
dotnet_diagnostic.CA2201.severity = none

# CA2211: Non-constant fields should not be visible
dotnet_diagnostic.CA2211.severity = none

# CA2213: Disposable fields should be disposed
dotnet_diagnostic.CA2213.severity = none

# CA2215: Dispose methods should call base class dispose
dotnet_diagnostic.CA2215.severity = none

# CA2251: Use String.Equals over String.Compare
dotnet_diagnostic.CA2251.severity = none

# CA3075: Insecure DTD Processing
dotnet_diagnostic.CA3075.severity = none

# CA5350: Do Not Use Weak Cryptographic Algorithms
dotnet_diagnostic.CA5350.severity = none

# CA5392: Use DefaultDllImportSearchPaths attribute for P/Invokes
dotnet_diagnostic.CA5392.severity = none

# VSTHRD001: Avoid legacy thread switching methods
dotnet_diagnostic.VSTHRD001.severity = none

# VSTHRD010: Accessing item should only be done on the main thread
dotnet_diagnostic.VSTHRD010.severity = none

# VSTHRD100: Avoid async void methods
dotnet_diagnostic.VSTHRD100.severity = none

# VSTHRD110: Observe result of async calls
dotnet_diagnostic.VSTHRD110.severity = none

# VSTHRD200:  Use "Async" suffix in names of methods that return an awaitable type 
dotnet_diagnostic.VSTHRD200.severity = none
