<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<load name="Jannesen.Web.MSSql" />
	<http-handler path="test.spj" verb="GET" type="sql-json" procedure="dbo.[test/test.spj*get]" database="TAS2">
		<parameter name="id" type="int" source="querystring" optional="1" />
		<response>
			<object>
				<field name="account_id" type="int" />
				<field name="username" type="varchar(256)" />
				<field name="device">
					<object>
						<field name="device_id" type="int" />
						<field name="devicekey" type="varchar(64)" />
					</object>
				</field>
				<field name="data">
					<array type="int" />
				</field>
				<field name="devices">
					<array>
						<object>
							<field name="device_id" type="int" />
							<field name="devicekey" type="varchar(64)" />
						</object>
					</array>
				</field>
				<field name="emailaddress" type="varchar(256)" />
			</object>
		</response>
	</http-handler>
</configuration>