body {
	font:			12px Lucida Grande,Lucida Sans,Arial,sans-serif;
}

h1 {
	font-size:		2em;
	font-weight:	bold;
	margin:			1em 0 1em 0;
}

h2 {
	font-size:		1.2em;
	font-weight:	bold;
	margin:			1em 0 1em 0;
}

div.syntax {
	font:			1.2em monospace;
	padding: 		0em 0em 1em 2em;
}

div.syntax span.-spaces {
	white-space:	pre;
}
div.syntax span.-token {
	color:			#0000e0;
}
div.syntax span.-grouping {
	color:			#a2a2a2;
	white-space:	pre;
}
