<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.Composition" version="16.1.8" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.ProjectSystem" version="15.8.243" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.ProjectSystem.Analyzers" version="15.8.243" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.ProjectSystem.Sdk.Tools" version="15.8.243" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.SDK.VsixSuppression" version="14.1.37" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.3.13" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Validation" version="15.5.3" targetFramework="net472" />
</packages>